extends layout.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)

block content
	div(class='splash-page')
		div(class='text-container')
			h1(class='h1') Welcome to flo-Overflow!
			br
			p(class='subtitle-1') Welcome to <span class='flo-overflow'>flo-Overflow</span>, the premier site for asking questions about music! Not sure what lyrics mean? Need recommendations for your playlist? At <span class='flo-overflow'>flo-Overflow</span>, you can ask questions and provide your insight to other user's questions!
			br
			p(class='subtitle-2') Join us today and communicate with others on each other's musical journeys!
