extends layout.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)

block content
	h1= title
	div
	div
		p Welcome to flo Overflow, the premier site to asking questions about music! Not sure what lyrics mean? Need recommendations for your playlist? At flo Overflow, you can ask questions and provide your insight to other user's questions!
		span Join us today and communicate join others on each other's musical journeys!
