extends layout.pug

include utils.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)

block content

	div
		<form method="post" action="" class='log-in-form'>

			<h3 id="logo">Log-in</h3>
			div(class='errors')
				+validationErrorSummary(errors)

			input(type='hidden' name='_csrf' value=csrfToken)

			<label class='log-in-label' for="email">Email</label>
			<input class='log-in-input' type="email" id="email" name="email" placeholder="Type in your email.." autocomplete="off" />

			<label class='log-in-label' for="password">Password</label>
			<input class='log-in-input' type="password" id="password" name="password" placeholder="Enter your password.." autocomplete="off" />

			<a class="forgot" href="/signup">Don't have an account?</a>
			<a class="register" href="/">Go Back to the Homepage</a>

			<input class='log-in-submit' type="submit" name="submit" value="Log In" />
		</form>
