extends layout.pug

include utils.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)

block content
	div
		form(action='/questions' method='post' class='log-in-form question-post')

			<h3 id="logo">Post your flo-Question!</h3>

			div(class='errors')
				+validationErrorSummary(errors)

			input(type='hidden' name='_csrf' value=csrfToken)

			textarea(class='log-in-input' type="textarea" id="content" name="content" placeholder="Type in your question..")

			if locals.authenticated
				div(class='new-question-footer')
					button(type='submit' class='btn log-in-submit new-question-btn') Submit
					a(href='/' class='cancel forgot') Cancel
			else
				a(href='/login') Please login to ask a flo question
