extends layout.pug

include utils.pug

block content
    each q in questions
        div(class='questionContainer')
            div(class='vote') #{upVote|0} upVotes
            div(class='vote') #{downVote|0} downVotes
            div(class='question') question: #{q.content}
            div(class='answer') #{q.Answers.length|0} answers