extends layout.pug

include utils.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)


block content
	a(href='/questions') Go to All Questions.
	if results.length !== 0
		each result in results
			a(href=`/questions/${result.id}`)= result.content
	else
		p Sorry there are no matches!
