h1 {
  color: #555555;
}

body {
  padding-top: 5em;
}

.nav-bar {
  min-height: 5em;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background-color: #3db2ff;
  border-bottom: 0.25em solid #ffb830;
  /* z-index: 0; */
}

.search-bar {
  /* background-color: rgba(0, 0, 0, 0.33); */
  opacity: 75%;
  height: 2.5em;
  display: flex;
  padding: 0px 0px 0px 1.25em;
  border-radius: 0.5em;
  color: #ffb830;
  align-items: center;
  margin-left: 5em;
  /* position: relative; */
}

.search-input {
  border: 0.0625em solid white;
  border-right: none;
  border-radius: 0.5em 0 0 0.5em;
  height: 2.5em;
  font-size: 1.25em;
  width: 100%;
  padding-left: 1.5em;
  outline: 0;
  background-color: white;
  border-right: none;
}

.search-btn {
  border: 1px solid #ff2442;
  background: #ff2442;
  text-align: center;
  color: #fff;
  border-radius: 0 0.5em 0.5em 0;
  border-left: none;
  cursor: pointer;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.wrap {
  width: 50%;
}

.links {
  display: flex;
}

.btn {
  opacity: 90%;
  height: 2.5em;
  width: 5em;
  display: flex;
  justify-content: center;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  align-items: center;
  text-decoration: none;
  margin-right: 1.5em;
  font-weight: 500;
  font-size: 1.25em;
  letter-spacing: 0.0625em;
}

.main-page {
  margin-left: 1.5em;
  font-size: 1.75em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

/* .btn {
  transition: 0.2s ease all;
}

.btn:hover {
  opacity: 0.8;
} */

.log-in-btn {
  background-color: transparent;
  position: relative;
  right: -1em;
  color: white;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.ask-question-btn {
  right: 2em;
  white-space: nowrap;
}

.log-out-btn {
  cursor: pointer;
}

.sign-up-btn {
  background-color: #ffb830;
  border-radius: 0.5em;
  color: black;
  border: none;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.footer {
  border-top: 0.25em solid #ffb830;
  background-color: #3db2ff;
  position: fixed;
  display: flex;
  justify-content: center;
  /* justify-content: center; */
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3.5em;
}

.menu {
  font-size: 0.5em;
  display: flex;
  align-items: center;
  margin-left: 2.5em;
}

.foot-link {
  padding: 0px 1.25em 0px 1.25em;
  text-decoration: none;
  color: #ffedda;
  opacity: 68%;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.social-media {
  color: #ffedda;
  opacity: 68%;
  font-size: 1.125em;
  width: 10em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 2.5em;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.log-in-btn {
  background-color: transparent;
  color: #ffedda;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.main {
  display: flex;
  flex-flow: column;
}

.text-container {
  width: 50%;
  height: 50%;
  display: flex;
  position: relative;
  top: 4.5em;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.h1 {
  font-size: 5em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 0.5em;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.subtitle-1 {
  font-size: 1.75em;
  color: #3db2ff;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.subtitle-2 {
  font-size: 1.75em;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.flo-overflow {
  font-size: 1.75rem;
  color: #ff2442;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

/* .start-btn {
  background-color: white;
  border-radius: 0.5em;
  color: black;
  width: fit-content;
  padding: 0.5em 1em 0.5em 1em;
  align-self: center;
  font-size: 1.33em;
  font-weight: 500;
  letter-spacing: -0.05em;
} */

.log-in-form {
  margin: 2.5em auto 0 auto;
  width: 50%;
  height: auto;
  /* overflow: hidden;
  background: transparent;
  border-radius: 10px; */
}

.log-in-label,
.log-in-input {
  float: left;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  /* clear: both; */
}

.log-in-input {
  margin: 1.5em 0;
  padding: 1.5em 1.5em;
  width: 100%;
  font-size: 1em;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 0.5em;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  /* display: inline-block; */
  /* box-sizing: border-box; */
}

.log-in-input,
input[type="textarea"] {
  background-color: #ffedda;
  color: #3db2ff;
}

/* .log-in-input[type="text"]:focus,
.log-in-input[type="password"]:focus {
  border-color: cornflowerblue;
} */

.log-in-submit {
  padding: 1.5em 5em;
  position: relative;
  top: -2.5em;
  width: auto;
  background: #ffb830;
  font-size: 1.0625em;
  border: none;
  border-radius: 0.5em;
  color: black;
  cursor: pointer;
  float: right;
  transition: 0.2s ease all;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.btn {
  transition: 0.2s ease all;
}

.btn:hover {
  opacity: 0.8;
}

.main-page {
  transition: 0.2s ease all;
}

.main-page:hover {
  opacity: 0.8;
}

input[type="submit"]:active {
  opacity: 0.4;
}

.forgot,
.register {
  margin: 0.75em;
  margin-left: 0;
  float: left;
  clear: left;
  display: inline-block;
  color: #3db2ff;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  text-decoration: none;
}

.forgot:hover,
.register:hover {
  color: #ffb830;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

#logo {
  margin: 0 auto;
  width: 100%;
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  color: #3db2ff;
}

.errors {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 2.5em;
  justify-content: center;
  align-items: center;
  color: #ff2442;
  /* max-height: 10em;
  overflow: auto; */
}

.errors * {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  font-style: bolder;
}

.test-logo {
  display: inline-block;
  width: 0em;
  height: 0em;
}

.splash-page {
  height: 100%;
  width: 100%;
  /* background: url(https://cdn.shopify.com/s/files/1/1887/8337/products/CD0192_HipHopSavedMyLife_1200x.jpg?v=1569309539);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right; */
}

.splash-page * {
}

.question-container {
  display: flex;
  min-width: 67%;
  padding: 1em;
  border-bottom: 0.125em solid #3db2ff;
  align-self: center;
  align-items: center;
  position: relative;
  top: 2em;
  transition: 0.2s ease all;
}

.question-container:hover {
  min-width: 67.5%;
  border-bottom: 0.25em solid #ffb830;
}

.question-stats-container {
  border-right: 0.125em solid #3db2ff;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 12.5%;
  margin-right: 2em;
  color: #3db2ff;
}

.question-stats-votes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  margin-right: 0.5em;
}

.question-stats-votes span {
  font-size: 1.5em;
  color: #ff2442;
  font-weight: bold;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.question-stats-votes p {
  display: flex;
  font-size: 1em;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.question-stats-answers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  margin-right: 1em;
}

.question-stats-answers span {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.question-stats-answers p {
  display: flex;
  font-size: 1em;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.question-summary-container {
  /* overflow: hidden; */
}

.question-summary-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30em;
  font-size: 1.5em;
  color: #3db2ff;
  background-color: #ffedda;
  padding: 0.5em;
  border-radius: 0.5em;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  text-decoration: none;
  transition: 0.2s ease all;
}

.longer {
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  padding: 0.5em;
  background-color: #ffedda;
  border-radius: 0.5em;
  max-width: 30em;
  font-size: 1.5em;
  color: #3db2ff;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  text-decoration: none;
  transition: 0.2s ease all;
  cursor: default;
}

.question-summary-link:hover {
  color: #ffb830;
}

.question-summary {
  display: flex;
}

.question-summary-footer {
  display: flex;
  position: absolute;
  bottom: 2.5em;
  right: 0;
}

.question-summary-user {
  display: flex;
  align-items: center;
}

.question-summary-user .question-summary-info {
  display: flex;
  flex-direction: row;
  color: #3db2ff;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.question-summary-user .question-summary-info a {
  margin-left: 0.5em;
  color: #ff2442;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  font-size: 1.125em;
  font-style: italic;
  text-decoration: none;
  transition: 0.2s ease all;
}

.question-summary-user .question-summary-info a:hover {
  opacity: 0.8;
  color: #ffb830;
}

.time {
  color: #ff2442;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.content {
  font-size: 1.25em;
}

.question-post {
  display: flex;
  flex-direction: column;
}

.new-question-btn {
  width: 5em;
  height: 2.5em;
  margin: 0 auto;
}

.new-question-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 2.5em;
}

.cancel {
  display: flex;
  width: 5em;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  top: -0.75em;
}

textarea {
  resize: none;
  position: relative;
  top: -1em;
}

.logged-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

.user-details {
  font-style: italic;
  position: relative;
  top: -1em;
}

.main-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  top: 2.5em;
}

.main-links * {
  width: 2.5em;
  height: 5em;
  text-align: center;
}

.btn1 {
  position: relative;
  left: -2.5em;
  background-color: #3db2ff;
}

.btn2 {
  position: relative;
  white-space: nowrap;
  background-color: #ffb830;
}

.username {
  font-size: 1.25em;
  color: #ff2442;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.log-in-form h3 {
  /* box-shadow: 0 .5em .5em -20px #555555; */
}

.logged-in-container {
  width: 50%;
  margin: 0 auto;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  margin-top: 2em;
  font-style: italic;
  font-size: 1.25em;
}

.cancel {
  font-size: 1.25em;
}

.test {
  height: 7.5em;
}

.single-question-btns {
  margin: 0 auto;
  width: 67.5%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-top: 7.5em;
}

.single-question-btns * {
  width: 2.5em;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}

.single-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.all-btn * {
  position: relative;
  width: 2.5em;
  height: 5em;
  top: 0em;
}

.logged-in-container {
  display: flex;
  min-width: 67%;
  padding: 1em;
  border-bottom: 0.125em solid #3db2ff;
  align-self: center;
  align-items: center;
  position: relative;
  top: 2em;
}

.confirm {
  margin: 1.25em;
  margin-bottom: 2em;
  /* font-weight: bold; */
  /* text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3); */
}

.del-question {
  display: flex;
  justify-content: center;
}

.del-cancel {
  position: relative;
  top: -1em;
}

.del-header {
  margin-top: 5em;
}

.delete-btn {
  color: #fff;
  background: #ff2442;
  white-space: nowrap;
  overflow: hidden;
}

.questions-title {
  margin-top: 0.5em;
  font-style: normal;
  position: relative;
  top: 0.75em;
}

.edit-form {
  height: 25em;
  width: 25em;
}

.edit-btn {
  background: #3db2ff;
  color: white;
  margin: 0;
  padding: 0;
  width: 10em;
  height: 5em;
}

.asked-by {
  position: relative;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  top: -2.5em;
}

.longer {
  position: relative;
  word-wrap: break-word;
}

.edit-form {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.edit-input {
  padding: 1.5em 1.5em;
  min-width: 100%;
  font-size: 1.125em;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 0.5em;
  /* display: none; */
}

.edit-input,
input[type="textarea"] {
  background-color: #ffedda;
  color: #3db2ff;
}

.asked-by {
  position: relative;
}

.edit-btns {
  position: absolute;
  display: flex;
  align-self: center;
  top: 2.0625em;
  right: 0em;
}

.edit-cancel-btn {
  background: #ff2442;
  color: #fff;
  box-sizing: border-box;
  opacity: 90%;
  display: flex;
  justify-content: center;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.0625em;
  margin: 0;
  padding: 0;
  height: 3.5em;
  width: 8.5em;
  transition: 0.2s ease all;
}

.edit-cancel-btn:hover {
  opacity: 0.8;
}

.edit-submit-btn {
  right: 1em;
  background: #3db2ff;
}

.arrow-up-container,
.arrow-down-container {
  position: relative;
  transition: 0.2s ease all;
}

.arrow-up-container:hover,
.arrow-down-container:hover {
  opacity: 0.8;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-bottom: 1.5em solid #ffb830;
  position: relative;
  left: -1em;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 1.5em solid #ffb830;
  position: relative;
  left: -1em;
}

.logged-in-votes,
.logged-in-answers {
  margin: 1.5em;
  color: #3db2ff;
  position: relative;
  left: -1.25em;
}

.logged-in-votes {
  position: relative;
  color: #3db2ff;
  left: 0.75em;
}

.logged-in-votes span {
  color: #3db2ff;
  font-size: 2.5em;
}

.logged-in-answers span {
  color: #3db2ff;
  font-size: 2.5em;
}

.up-votes,
.down-votes {
  color: #3db2ff;

  margin-top: 0.75em;
  font-size: 1.25em;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
  margin-bottom: 0.75em;
  position: relative;
  left: -0.75em;
}

.down-votes {
}

.vote-count-1,
.vote-count-2 {
  font-size: 2.5em;
  color: #3db2ff;
  font-weight: bold;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.vote-count-1 {
  position: relative;
  top: 0.4em;
  left: 0.25em;
}

.vote-count-2 {
  position: relative;
  top: -0.5em;
  left: 0.25em;
}

.member {
  margin-bottom: 1.5em;
}

.answers-container {
  /* background-color: #ffedda; */
  border-radius: 0.5em;
  width: 67.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.answer-container {
  min-width: 80%;
  border-bottom: 0.125em solid #3db2ff;
}

.answer-username {
  color: #3db2ff;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.answer-username-container {
  border-right: 0.125em solid #3db2ff;
}

.answers-title {
  margin-top: 0.5em;
  position: relative;
  top: 0.75em;
  border-radius: 0.5em;
  color: #3db2ff;
  text-shadow: 2px 8px 6px #ffedda, 0px -5px 35px #ffedda;
}

.answer {
  font-size: 1.25em;
}

.test-4 {
  height: 7.5em;
}

.answer-delete {
  width: 2.5em;
  height: 2.5em;
  position: relative;
  top: 1.25em;
  white-space: nowrap;
  overflow: hidden;
}

.answer-container {
  transition: 0.2s ease all;
}

.answer-container:hover {
  min-width: 80.5%;
  border-bottom: 0.25em solid #ffb830;
}


